Django>=4.0,<5.0 
django-light
django-allauth

djangorestframework
django-crispy-forms
Pillow
psycopg2
mysqlclient
requests
python-decouple
google-generativeai
matplotlib
gunicorn
openpyxl

django-jazzmin
django-admin-tools-stats
