
django-light
django-allauth
Django>=3.2,<4.0  
djangorestframework
django-crispy-forms
Pillow
psycopg2
mysqlclient
requests
python-decouple
google-generativeai
matplotlib
gunicorn
openpyxl

django-jazzmin
django-admin-tools-stats
